/* Konfiguration des Carousels */
#carousel {
   --carouselBreite: 50vw;
   --carouselPadding: 2em;
   --carouselRatio: 56.25%;
}

#carousel {
   /* border: 1px solid tomato; */
   width: var(--carouselBreite);
   margin: 0 auto;

   figure {
      margin: 0;
   }

   > figure {
      /* padding: 1em; */
      background-color: darkgray;
      position: relative;

      &::before {
         content: "";
         display: block;
         /* border: 1px solid lightgreen; */
         padding-top: var(--carouselRatio);
      }

      > figure {
         position: absolute;
            top: var(--carouselPadding);
            right: var(--carouselPadding);
            bottom: var(--carouselPadding);
            left: var(--carouselPadding);
         /* width: calc((100% - 1em) * 0.9); */

         > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
   
         > figcaption {
            position: absolute;
            bottom: 2em;
            padding: 0.5em 1em;
            background-color: rgba(0,0,0,.2);
            font-size: 1.5em;
            /* width: 100%; */
            left: 0;
            right: 0;
         }

         &:target {
            z-index: 10;
         }
      } 

      > nav {
         // background-color: tomato;
         position: absolute;
            bottom: 0.33em;
            left: 0;
            right: 0;
         
         > ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            
            > li {
               
               > a {
                  height: .8em;
                  width: .8em;
                  margin: 0 0.5em;
                  display: inline-block;
                  border: 1px solid white;
                  border-radius: 50%;

                  &:hover {
                     background-color: violet;
                     border-color: violet;
                  }

                  &:active {
                     background-color: rebeccapurple;
                     border-color: rebeccapurple;
                  }
               }
            }
         }
      }
   }
}

// #bild05 {
//    // z-index: 10;
// }

#bild06 {
   // z-index: 100;
   > img {
      object-position: 50% 80%;
   }
}
